# {{ ansible_managed }}

# -----------------------------
# PostgreSQL configuration file
# -----------------------------

listen_addresses = '{{ pgsql11_listen_addr }}'
port = {{ pgsql11_listen_port }}

max_connections = {{ pgsql11_max_conns }}
superuser_reserved_connections = 3	# (change requires restart)

shared_buffers = {{ pgsql11_shared_buffers }}
dynamic_shared_memory_type = posix

log_destination = 'stderr'
logging_collector = on
log_directory = 'pg_log'
log_filename = 'postgresql-%a.log'
log_truncate_on_rotation = on
log_rotation_age = 1d
log_rotation_size = 0
log_line_prefix = '< %m >'
log_timezone = 'US/Eastern'

datestyle = 'iso, mdy'
timezone = 'US/Eastern'
lc_messages = 'en_US.UTF-8':?
lc_monetary = 'en_US.UTF-8'
lc_numeric = 'en_US.UTF-8'
lc_time = 'en_US.UTF-8'

default_text_search_config = 'pg_catalog.english'

{% for key,value in pgsql11_extra_conf.iteritems() %}
{{ key }} = '{{ value }}'
{% endfor %}
